p {
    color:black;
    width: 300px;
    text-align: left;
}

.ancho {
    width: 800px
}

.circular-square {
    border-radius: 50%;
    cursor: none;
}

h1{
    font-family: 'Roboto', sans-serif;
    border: 5px dotted black;
    margin-top: 1px;
    margin bottom: 1px; 
    margin-left: 1px;
    margin-right: 1px;
    padding: 1px 1px 1px 1px;
    font-weight: bold;
    color:black;
}

.atencion {
    cursor: all-scroll;
}

.navegacion {
    text-decoration: underline!important;
    box-shadow: none!important;
    color:blue;
}

a:hover {
    color: hotpink;
}

img {width:180px; height: 180px;}

hr {color: black;}

section {
    width: 1000px;
    border: 15px solid orange;
    padding: 50px;
    margin: 20px;
    background-color: rgb(220, 209, 221);
    background-image: url("https://img.freepik.com/free-photo/pink-shiny-textured-paper-background_53876-101392.jpg");
}

.item {
    text-align:left;
}

.formacion {
    width: 110px;
    height: 110px;
    float: right;
}

.internet {width: 230px; height: 200px;}
